<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/dashboard" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
            <a href="/logout" class="navbar-brand d-flex align-items-center">
                로그아웃
            </a>
        </div>
    </div>
</header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="text-center">
                <th scope="row">
                    <span>{{ post[0] }}</span>
                </th>
                <td>
                    <a>
                        <span>{{ post[1] }}</span>
                    </a>
                </td>
                <td>
                    <span>{{ post[2] }}</span>
                </td>
                <td>
                    <span>{{ post[3] }}</span>
                </td>
                <td>
                    <form method="post" action="delete_post/{{ post[0] }}">
                    <span><button onclick="deletePost('{{ post[0] }}')" class="board_button btn btn-secondary btn-sm rounded-pill">삭제</button></span>
                    </form>
                    <script>
                        function deletePost(postId) {
                            if (confirm("정말로 이 게시물을 삭제하시겠습니까?")) {
                                fetch('/delete_post/' + postId, {
                                method: 'post',
                                body: JSON.stringify({
                                    id: post[0],
                                }),
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })
                            .then(response => {
                                if (response.ok) {
                                    location.reload();
                                }
                                }
                            });
                            error: function (xhr) {

                                if(xhr.status == 403) {
                                    alert("가입되지 않은 이메일입니다.")}
                        }
                    }
                    </script>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" href="/post" role="button">글쓰기</a>
        </div>
    </div>
</div>
</body>
</html>
