<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
      src="/js/jquery/jquery-3.7.1.min.js"
      type="text/javascript"
    ></script>
    <script type="text/javascript" src="/js/edit.js"></script>
    <script type="text/javascript" src="/js/alert.js"></script>

</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/dashboard" class="navbar-brand d-flex align-items-center">
                <strong>게시판</strong>
            </a>
            <a href="/logout" class="navbar-brand d-flex align-items-center">
                로그아웃
            </a>
        </div>
    </div>
</header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">내용</th>
            <th scope="col">수정  -  삭제</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr class="text-center">
                <th scope="row">
                    <span>{{ post[0] }}</span>
                </th>
                <td>
                    <a href="/detail/{{ post[0] }}">
                        <span>{{ post[1] }}</span>
                    </a>
                </td>
                <td>
                    <span>{{ post[2] }}</span>
                </td>
                <td>
                    <span>{{ post[3] }}</span>
                </td>
                <td>
                    <span><button onclick="EditPost('{{ post[0] }}')" class="btn btn-secondary">수정</button></span>
                    <span><button onclick="deletePost('{{ post[0] }}')" class="board_button btn btn-secondary btn-sm rounded-pill" type="submit">삭제</button></span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" href="/post" role="button">글쓰기</a>
        </div>
    </div>
</div>
</body>
</html>
